/* Estilo global */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0A0F1A; /* Fondo oscuro */
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima para llenar la pantalla */
  overflow: hidden; /* Evita el scroll */
}

/* Página principal */
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Navbar, contenido y footer alineados */
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #0A0F1A; /* Fondo del logo */
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  background-color: black ;/* Fondo acorde con el logo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra sutil */
}

.navbar button {
  background-color: #100161; /* Morado vibrante */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease; /* Transición suave */
}

.navbar button:hover {
  background-color: #d1d0d4; /* Morado más oscuro al hover */
  transform: scale(1.05); /* Ligero efecto de escala */
}

/* Contenido principal */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Ocupa todo el espacio disponible */
  text-align: center;
  padding: 20px;
  gap: 20px; /* Espaciado entre elementos */
}

.header h1 {
  font-size: 2.5rem;
  color: whitesmoke; /* Rosa vibrante */
  margin: 0;
}

.header p {
  font-size: 1.2rem;
  color: #DDD; /* Gris claro */
  margin: 0;
}

/* Logo */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  height: 40vh; /* Tamaño adaptable */
}

.logo img {
  max-width: 30%;
  height: auto;
  margin: 0;
  padding: 0;
}

/* Apps */
.apps {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.apps img {
  max-width: 120px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.apps img:hover {
  transform: scale(1.1); /* Efecto de escala al hover */
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background-color: black; /* Fondo oscuro */
  color: #ccc; /* Gris claro */
  gap: 15px; /* Espaciado entre imagen y texto */
}

.footer img {
  max-width: 30px; /* Ajusta el tamaño del logo */
  height: auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
  background-color: black;
}

/* Responsividad */
@media (max-width: 768px) {
  .navbar button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }

  .header h1 {
    font-size: 2rem;
  }

  .header p {
    font-size: 1rem;
  }

  .apps img {
    max-width: 100px;
  }
}
