/* Estilo global */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1035; /* Fondo oscuro */
    color: white;
    display: flex;
    flex-direction: column;
    height: 50vh; /* Altura de la ventana */
    overflow: hidden; /* Evita el scroll */
  }
  
  .page {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye contenido para que navbar, contenido y footer estén alineados */
    height: 100%;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000; /* Negro */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar button {
    background-color: #007bff; /* Azul para "Login" */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
  }
  
  .navbar button.register {
    background-color: #39d353; /* Verde para "Registrarse" */
  }
  
  .navbar button:hover {
    background-color: #0056b3; /* Azul oscuro para hover */
  }
  
  .navbar button.register:hover {
    background-color: #2e9c41; /* Verde oscuro para hover */
  }
  
  /* Contenido principal */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; /* Toma todo el espacio disponible entre el navbar y el footer */
    text-align: center;
    padding: 10px;
  }
  
  .header h1 {
    font-size: 2rem;
    margin: 10px 0;
  }
  
  .header p {
    font-size: 1rem;
    color: #ddd; /* Gris claro */
  }
  
  .apps {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .apps img {
    max-width: 120px;
    margin: 0 10px;
  }
  .logo {
    display: flex; /* Hacer que el contenedor use flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 43vh; /* Ajusta según la altura de tu contenedor */
  }

  .logo img {
    max-width: 250px;
    margin: 10px;
    padding: 10px 20px;
  }
  
  /* Footer */
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000; /* Negro */
    color: #ccc; /* Gris claro */
    gap: 10px; /* Espaciado entre imagen y texto */
  }
  
  .footer img {
    max-width: 40px; /* Ajusta el tamaño del logo */
    height: auto;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }