<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <p>PRÓXIMAMENTE</p>
            <h1>Algo grande está por suceder</h1>
            <p>¿Estás listo para descubrirlo? Descarga nuestra app y sé parte del cambio.</p>
        </div>

        <div class="buttons">
            <a href="#" class="register">REGISTER NOW</a>
            <a href="#" class="login">LOGIN</a>
        </div>

        <div class="logo">
            <img src="/assets/logosmart.jpg" alt="SmartGap Logo">
        </div>

        <div class="apps">
            <img src="appstore.png" alt="Disponible en App Store">
            <img src="googleplay.png" alt="Disponible en Google Play">
        </div>

        <div class="footer">
            <p><a href="http://www.smartgap.com">www.smartgap.com</a></p>
            <p>&copy; 2025 &#64;synergycoders</p>
        </div>
    </div>
</body>
</html>
