
<div class="container">
    <h2 class="title">Horarios</h2>
  
    <form (ngSubmit)="editMode ? updateHorario() : createHorario()">
      <input type="text" placeholder="Materia" [(ngModel)]="horario.materia" name="materia" required />
      <input type="time" placeholder="Hora Inicio" [(ngModel)]="horario.hora_inicio" name="hora_inicio" required />
      <input type="time" placeholder="Hora Fin" [(ngModel)]="horario.hora_fin" name="hora_fin" required />
      <input type="text" placeholder="Día" [(ngModel)]="horario.dia" name="dia" required />
      <button type="submit">{{ editMode ? 'Actualizar' : 'Crear' }}</button>
    </form>
  
    <table class="table">
      <thead>
        <tr>
          <th>Materia</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Día</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>{{ horario.materia }}</td>
          <td>{{ horario.hora_inicio }}</td>
          <td>{{ horario.hora_fin }}</td>
          <td>{{ horario.dia }}</td>
          <td>
            <button (click)="editHorario(horario)">Editar</button>
            <button (click)="deleteHorario(horario.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
