
<div class="container">
    <h2 class="title">Horario</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Materia</th>
          <th>Hora Inicio</th>
          <th>Hora Fin</th>
          <th>Día</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let horario of horarios">
          <td>{{ horario.materia }}</td>
          <td>{{ horario.hora_inicio }}</td>
          <td>{{ horario.hora_fin }}</td>
          <td>{{ horario.dia }}</td>
          <td>
            <button (click)="updateHorario(horario)">Editar</button>
            <button (click)="deleteHorario(horario.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <button (click)="crearHorario()">Agregar Materia</button>
      <button (click)="irPerfil()">Regresar</button>
    </div>
  </div>
  
