<div class="container mt-4">
  <h2 class="text-center">Gestión de Actividades</h2>
  <button class="btn btn-primary mb-4" (click)="crearActivididad()">Agregar Actividad</button>

  <!-- Tabla para listar las actividades -->
  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Descripción</th>
        <th>Fecha de Entrega</th>
        <th>ID Usuario</th>
        <th>Estado</th>
        <th>Nombre Actividad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let actividad of actividades">
        <td>{{ actividad.id }}</td>
        <td>{{ actividad.descripcion }}</td>
        <td>{{ actividad.fecha_entrega }}</td>
        <td>{{ actividad.id_usuario }}</td>
        <td>{{ actividad.estado_actividad }}</td>
        <td>{{ actividad.nombre_actividad }}</td>
        <td>
          <button
            class="btn btn-warning btn-sm"
            (click)="editarActividad(actividad.id, actividad)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger btn-sm"
            (click)="eliminarActividad(actividad.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button (click)="irPerfil()">Regresar</button>
  </div>
</div>
