    <div class="navbar">
        <h2>Bienvenido/a a SmartGap  {{ usuario.username }}!</h2>
        <button (click)="cerrarSesion()">Cerrar Sesión</button>
        <button (click)="irNotificaciones()">Notificaciones</button>
    </div>
   

    <div class="table-container">
        <h1>{{ usuario.name }}</h1>
        <div *ngIf="error" class="error-message">{{ error }}</div>
        <table *ngIf="usuario">
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{ usuario.name }}</td>
                </tr>
                <tr>
                    <td>Correo</td>
                    <td>{{ usuario.email }}</td>
                </tr>
                <tr>
                    <td>Carrera</td>
                    <td>{{ usuario.carrera }}</td>
                </tr>
                <tr>
                    <td>Semestre</td>
                    <td>{{ usuario.semestre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="buttons-container">
        <button (click)="registrarActividad()">Mis Actividades</button>
        <button (click)="registrarHorario()">Horario</button>
    </div>

